* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #198d62;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  background-color: #ffffff;
  width: 850px;
  height: 450px;
  border-radius: 5px;
  display: flex;
}

iframe {
  margin: 70px 10px 40px;
}
button {
  background-color: #0f6d5a;
  border: none;
  height: 40px;
  width: 210px;
  color: #ffffff;
  margin-top: 10px;
}

.right_info {
  background-color: #e9fff7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 20px;
}

.right_info #title {
  color: #0f6d5a;
  font-size: 40px;
}
h2 {
  font-size: small;
  margin-top: 15px;
  color: #848585;
  margin-bottom: 20px;
}
.more {
  color: #0f6d5a;
  text-decoration: none;
}
.sub_text {
  color: #848585;
  line-height: 1.5;
  font-size: 15px;
  margin-top: 15px;
}
.other_info {
  color: #848585;
  line-height: 2;
  font-size: smaller;
  margin-top: 10px;
  margin-left: 20px;
}
